@media only screen and (max-width: 800px){
    #cabeçalho .container{
        display: block;
        padding: 15px 0;
        position: relative;
    }

    #cabeçalho #Logo{
        display: block;
        margin: 0 auto;
    }

    #cabeçalho #but-menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    #cabeçalho .menu{
        display: none;
        margin-top: 15px;
    }

    #cabeçalho .menu ul li{
        display: block;
    }

    #cabeçalho .menu ul li a{
        text-align: center;
        border-bottom: 1px solid #666;
    }

    #cabeçalho .menu ul li:first-child a{
        border-top: 1px solid #666;
    }

    #modelos .container{
        grid-template-columns: repeat(2, 1fr);
    }

    #videos .container{
        grid-template-columns:repeat(2, 1fr);
    }

    #produtos .container{
        grid-template-columns: repeat(2, 1fr);
    }
    #modelos img{
        margin: 0 auto;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 50%;
        display: block;
    }
}

@media only screen and (max-width: 360px){
   .titulo-secao{
       font-size: 200%;
   }

    #modelos .container{
        grid-template-columns: repeat(1, 1fr);
    }

    #videos .container{
        grid-template-columns: repeat(1, 1fr);
    }

    #produtos .container{
        grid-template-columns: repeat(1, 1fr);
    }

    #modelos img{
        margin: 0 auto;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 50%;
        display: block;
    }

    #quem-somos img{
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 50%;
        display: block;
    }

    #modelos h3{
        text-align: center;
    }

    #modelos .but-comprar{
        margin: 0 auto;
    }
}
